#container {
	width: 500px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
}

#naam{
	width: 400px;
	height:70px;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(199,195,199,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(199,195,199,1);
	box-shadow: 0px 2px 0px 0px rgba(199,195,199,1);
	margin-left: 30px;

}
#naamp{
	margin-bottom: 7px;
	font-weight: bold;
}

#email{
	width: 400px;
	height:70px;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(199,195,199,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(199,195,199,1);
	box-shadow: 0px 2px 0px 0px rgba(199,195,199,1);
	margin-left: 30px;
	margin-top: 100px;
}
#emailp{
	margin-bottom: 7px;
	font-weight: bold;
}

#profilePhoto {
	height: auto;
	width: 80px;
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 53px;
}