	*{
		margin: 0;
		padding: 0;
	}
    a {
        text-decoration: none;
        color: #0464b3;
    }
    a:hover{
        color: #012340;
        text-decoration: underline;
    }
    header{
        height: 8vh;
        display: grid;
        grid-template-columns: 100px auto auto auto auto 60px;
        font-family: arial;
    }
    #logo{
        height: 100%;
        grid-column-start: 1;
        display:flex;
        justify-content: center;
        align-items: center; 
    }
    #navhome{
        grid-column-start: 2;
        display:flex;
        justify-content: center;
        align-items: center;   
    }
    #navblog{
        grid-column-start: 3;
        display:flex;
        justify-content: center;
        align-items: center;   
    }
    #navfaq{
        grid-column-start: 4;
        display:flex;
        justify-content: center;
        align-items: center;   
    }
    #navcontact{
        grid-column-start: 5;
        display:flex;
        justify-content: center;
        align-items: center;   
    }
    .placelang{
        display: flex;
        justify-content: flex-end;
        grid-column-start: 6;
    }
    #lang{
        height: 20px;
        width:  60px;
        border: 0px;
    }
    #banner{
        display: grid;
        height: 10vh;
        background-image: url("images/background.png");
        background-size: cover;
    }
    #title{
        background-color: white;
        margin: auto;
        padding: 5px;
        display: table;
    }
    main {
    	min-height: 79vh;
    }
    footer {
        display: grid;
        grid-template-columns: 45% 40% auto;
        height: 3vh;
        width: 100%;
        background-color: #0464b3 ;
    }
    #footerdate{
        color: #ffffff;
        margin: 0px;
        grid-column: 2;
    }
    #footerprivacy
    {
        color: #ffffff ;
        margin: 0px;
        grid-column: 3;
    }
    
/*Login styling*/



/*Home styling*/
#homekopje {
    font-family: Verdana;
    font-size: 16px;
    color: blue;
    width: 120px;
    background-color: orange;
}

.onderkopje {
    font-family: Verdana;
    font-size: 13px;
}

#Hgrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto; 
    grid-template-areas: Homeleft homemid homeright;
    grid-column-gap: 0px;
    width: 700px;
}

.Homeline {
    width: 1px;
    background-color: black;    
}

p {
    font-family: Verdana;
    font-size: 11px;
}

#Homeleft {
    background-color: green;
    width: 200px;
}

#homemid {
    background-color: red;
    width: 400px;
}

#homeright {
    background-color: orange;
    width: 50px;
}
/*Blog styling*/
.flexcontainer {
	display: flex;
	flex-wrap: wrap;
	width: 65vw;
	margin: auto;
	border: 1px dotted;
}

.flexcontainer div{
	width: 500px;
	height: 600px;
/*	flex-basis: 25%;*/
	margin: auto;
	border: 1px dotted;
	display: flex;
	flex-direction: column;
}
.flexcontainer div div{
	width: 350px;
	height: 500px;
/*	flex-basis: 25%;*/
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border: 1px solid;
}
.leesmeer a {
	align-self: flex-end;
}


/*FAQ styling*/
#faqMain {
	padding-top: 50px;
	display: grid;
	grid-template-columns: 250px 900px 300px 250px;
}

#faqUserSearchBox {
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
	grid-column-start: 2;
}

.searchBar {
	border-radius: 10px;
	border: 1px solid;
	width: 250px;
	height: 20px;
}

.searchBarButton {
	border: none;
	background-color: white;
	font-size: 17px;
}

.iconSearch {
	color: #005AA7;
}

#faqQuestions {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	min-height: 500px;
}

#faqQuestions p {
	text-align: justify;
}

#faqQuestions summary {
	color: #008487;
}

#faqQuestions details {
	padding-bottom: 50px;
}


/*Contact styling*/