	*{
		margin: 0;
		padding: 0;
	}
    a {
        text-decoration: none;
        color: #0464b3;
    }
    a:hover{
        color: #012340;
        text-decoration: underline;
    }
    header{
        height: 8vh;
        display: grid;
        grid-template-columns: 100px auto auto auto auto 60px;
        font-family: arial;
    }
    #logo{
        height: 100%;
        grid-column-start: 1;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #navhome{
        grid-column-start: 2;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #navblog{
        grid-column-start: 3;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #navfaq{
        grid-column-start: 4;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #navcontact{
        grid-column-start: 5;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .placelang{
        display: flex;
        justify-content: flex-end;
        grid-column-start: 6;
    }
    #lang{
        height: 20px;
        width:  60px;
        border: 0px;
    }
    #banner{
        display: grid;
        height: 10vh;
        background-image: url("images/background.png");
        background-size: cover;
    }
    #title{
        background-color:#0065b1;
        margin: auto;
        padding: 5px;
        display: table;
    }
    main {
    	min-height: 79vh;
    }
    footer {
        display: grid;
        grid-template-columns: 45% 40% auto;
        height: 3vh;
        width: 100%;
        background-color: #0464b3 ;
    }
    #footerdate{
        color: #ffffff;
        margin: 0px;
        grid-column: 2;
    }
    #footerprivacy
    {
        color: #ffffff ;
        margin: 0px;
        grid-column: 3;
    }
    .searchButton {
        font-size: 13px;
        border: 1px solid #ccc;
        height: 35px;
        border-radius: 5px;
        background-color: white;
        width: 50px;
    }
    body {
        font-family: arial;
    }
    
/*Login styling*/



/*Home styling*/
#homeimg {
    width: 1517px;
    heigth: 370px;
}

#homekopjes {
    width: 500px;
    heigth: 50px;
}

.Homekopje, h2, h5 {
    font-family: Verdana;
    font-size: 16px;
    color: blue;
    width: 150px;
    color: #0c70c7;
    margin-left: 10px;
    height: 20px;
}

.onderkopje {
    margin: 10px;
    font-family: Verdana;
    font-size: 13px;
}

#Hgrid {
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 400px 200px 200px auto auto;
    grid-template-rows: auto; 
    grid-template-areas: Homeleft homemiddle calendar;
    grid-column-gap: 0px;
    width: 1200px;
}

.Homeline {
    width: 3px;
    background-color: #0c70c7;    
    height: 800px;
}

p {
    font-family: Verdana;
    font-size: 11px;
    margin: 10px;
}

hr {
    margin: 30px;
    color: cyan;
}

#Homeleft {
    width: 300px;
}

#Homemid {
    width: 300px;
}

#homeright {
    background-color: orange;
    width: 300px;
}

.homenews {
    width: 300px;
}

#FaQhome {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 250px;
}

#homelist{
    padding-top: 10px;
    margin: 10px;
    list-style-type: none;
}

/* calendar */

div#calendar{
  margin:0px auto;
  margin-left: 250px;
  padding:0px;
  width: 320px;
  font-family:Helvetica, "Times New Roman", Times, serif;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:30px;
    background-color:   #787878 ;      
}
 
div#calendar div.header{
    line-height:30px;  
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:300px;
    height:30px;   
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}
 
 
div#calendar div.header a.prev{
    left:0px;
}
 
div#calendar div.header a.next{
    right:0px;
}
 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width: 35px;
    height:30px;
    line-height:30px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 10px;
    background-color: transparent;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:40px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:35px;
    height:40px;
    font-size:10px;
    background-color: #DDD;
    color:#000;
    text-align:center; 
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
} 
/*Blog styling*/
.blogcontent {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 53px;
    grid-template-areas: "search . add-blog-button . selector";
}
div .selectorcontainer{
    grid-area: selector;
    margin-left: auto;
}
div .searchcontainer{
    grid-area: search;
    margin-top: auto;
    margin-right: auto;
}
div .add-blog-button {
    grid-area: add-blog-button;
    margin: auto;
}
#blogcontentflex, #searchResults {
	display: flex;
	flex-wrap: wrap;
	width: 65vw;
	margin: auto;
/*	border: 1px dotted;*/
}
#blogcontentflex div, #searchResults div{
	width: 400px;
	height: 550px;
	margin: auto;
/*	border: 1px dotted;*/
	display: flex;
	flex-direction: column;
}
#blogcontentflex div div, .blogs{
	width: 350px;
	height: 500px;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border: 1px solid;
}
#blogcontentflex div div h3, #searchResults div div h3 {
    text-align: center;
}
#blogcontentflex div div p, #blogcontentflex div div a , #blogcontentflex div div h3, #searchResults div div p, #searchResults div div a , #searchResults div div h3 {
    padding-left: 25px;
    padding-right: 25px;
}
.blogcategorie {
    width: 200px;
    height: 40px;
    position: relative;
    background: #005AA7;
    text-align: center;
    margin-right: -50px;
    margin-left: 120px;
    color: white;
}
.blogcategorie:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 20px;
    border-style: solid;
    border-color: #005AA7;
    background-color: #005AA7; 
    }
.blogcategorie:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-right: 40px solid #005AA7;
    border-bottom: 20px solid white;
    }
.leesmeer {
    margin-top: auto;
    padding: 25px;
	text-align: right;
}
    /*button styling*/
.blogselect, .blogsearchbarbutton, .bloginput { 
    font-size: 13px;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 5px;
    background-color: white;
}
.blogselect{
    width: 150px;    
}
.bloginput {
    width: 50px;
}
.blogsearch {
    width: 150px;
}
.add-blog-button {
    background-color:#005AA7;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:4px;
    text-decoration:none;
}
.add-blog-button:hover {
    background-color:#008587;
}
.add-blog-button:active {
    position:relative;
    top:1px;
}
.articlecontainer {
    display: grid;
    width: 65vw;
    margin: auto;
    grid-template-areas:
    "readblogtitle readblogtitle"
    "readblogdesc readblogimg"
    "readblogcontent readblogcontent";
}
.readblogdesc {
    grid-area: readblogdesc;
    padding-top: 1em;
}
.readblogcontent {
    grid-area: readblogcontent;
    padding-top: 1em;
}
.readblogimg {
    grid-area: readblogimg;
    max-width: 30vw;
    max-height: auto;
}
.readblogtitle {
    grid-area: readblogtitle;
}


/*FAQ styling*/
#faqMain {
	padding-top: 50px;
	display: grid;
	grid-template-columns: 250px 900px 300px 250px;
}

#faqUserSearchBox {
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
	grid-column-start: 2;
}

.searchBar {
	border-radius: 10px;
	border: 1px solid;
	width: 250px;
	height: 20px;
}

.searchBarButton {
	border: none;
	background-color: white;
	font-size: 17px;
}

.iconSearch {
	color: #005AA7;
}

#faqQuestions {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	min-height: 500px;
}

#faqQuestions p {
	text-align: justify;
	padding-top: 15px;
}

#faqQuestions summary {
	color: #008487;
}

#faqQuestions details {
	padding-bottom: 50px;
}

summary:focus {
	outline: none;
}

/*Contact styling*/
.grid-container{
	display:grid;
	grid-template-columns: repeat(2, 100px);
	grid-auto-rows: minmax(150px, auto);
	grid-column-gap: 260px;
	justify-content:center;
	align-content: stretch;
}


textarea{
	resize: none;
	height: 250px;
	width:542px;
}

#footer_contact{
	position: absolute;
	text-align: center;
	color: white;
	bottom: 0%;
	width: 100%;
	height: 2.5rem;
}
