	/*AddBlog styling*/
	.addblog
	{
		font-family: Arial;
		min-height: 650px;
		width: 450px;
		margin: auto;
		background-color: white;
		overflow: none;
		border-radius: 15px;
		box-shadow: 5px 5px 20px;
	}
	#mylittleformy
	{	
		display: grid;
		grid-template-rows: auto auto 50px 1px auto auto 70px auto;
		padding: 35px;
		padding-left: 25px;
		width: 400px;
		min-height: 600px;
		font-weight: bold;
	}
	#mylittleformy input
	{
		margin-bottom: 20px;
		min-width: 25px;
		height: 25px;
		border: none;
		border-bottom: solid lightgrey 2px;
		font-size: 10pt;
	}
	.buttonsAB
	{
		grid-row: 10;
		width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		display: block;
	}
	.blueAB
	{
		width: 150px;
		height: 50px;
		border-radius: 5px;
		background-color:#008487;
		color: white;
		font-size: 15pt;
	}
	.whiteAB
	{
		width: 150px;
		height: 50px;
		border-radius: 5px;
		font-size: 15pt;
	}
	#mylittleformy select
	{
		margin-bottom: 20px;
		width: 390px;
		height: 30px;
		border-radius: 5px;
		text-align: center;
	}
	textarea.AddBlog
	{
		resize: none;
		min-height: 150px;
		width: 400px;
		background-color: white;
		display: block;
		overflow: auto;
		border: none;
		border-bottom: solid lightgrey 2px;
		font-size: 10pt;
	}
	
	#DetailsAB
	{
		min-height: 100px;
		width: 400px;
		display: block;
	}
	#DetailsAB p 
		{
		background-color: lightgray;
		padding: 4px;
		margin: 0;
		box-shadow: 1px 1px 20px;
		}
	#ArtikelContent
	{
		width: 900px;
		min-height: 920px; 
		background-color: white;
		box-shadow: 2px 2px 20px;
		background-color: lightgray;
		display: block;
		margin-left: auto;
		margin-right: auto;
	
	}
	.h1AB
	{
		margin-left: 44px;
	}
	#txtAC
	{
		resize: none;
		overflow: auto;
		width: 800px;
		min-height: 700px;
		border-radius: 5px;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
		/*Margin met raad van: Tim(GrandDynamo)*/
		display: block;
		border: 1px black outset;
	}
