	/*Algemene styling*/


	/*Login styling*/



	/*Home styling*/



	/*Blog styling*/


	/*AddBlog styling*/

	#AddBlog
	{
		display: grid;
		grid-template-rows: 100px auto auto auto auto;
		grid-template-columns: auto;
		min-height: 650px;
		width: 450px;
		margin: auto;
		background-color: white;
		overflow: none;
		border-radius: 15px;
		box-shadow: 5px 5px 20px;
	}


	#mylittleformy
	{
		padding: 35px;
		padding-left: 25px;
		width: 400px;
		font-weight: bold;
	}

	#mylittleformy input
	{
		margin-bottom: 20px;
		height: 25px;
		border: none;
		border-bottom: solid lightgrey 2px;
	}

	#mylittleformy select
	{
		margin-bottom: 20px;
		width: 390px;
		height: 30px;
		border-radius: 5px;
		text-align: center;
	}

	textarea.AddBlog
	{
		resize: none;
		min-height: 150px;
		width: 400px;
		background-color: white;
		display: block;
		overflow: auto;
		border: none;
		border-bottom: solid lightgrey 2px;

	}




	/*FAQ styling*/



	/*Contact styling*/